.header {
  display: flex;
  align-items: center;
  max-width: 100%;
  min-height: 80px;
  background-color: cornflowerblue;
  border-radius: 0 0 8px 8px;
}

.header img {
  width: auto;
  height: auto;
  min-width: 50px;
  max-width: 80px;
  max-height: 80px;
}