.nav {
  margin-right: 5px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 20%;
  flex: auto;

  background: cadetblue;
}

.item {
  color: white;
}

.item a {
  color: white;
}

.item a.active {
  color: gold;
}