.wrapper {
    display: flex;
    padding: 15px 20px;
}

.wrapper a {
    color: white;
}

.items {
    min-width: 20%;    
    margin: 0;
}

.item {
    padding: 2px 5px;
}

.messages {
 min-width: 70%;
}

.messages .message {
    padding: 10px;
}