.wrapper {
    display: flex;
    padding: 15px 20px;
}

.wrapper a {
    color: white;
}

.items {
    min-width: 15%;    
    margin: 0;
    border-right: 1px solid seagreen;
}

.item {
    padding: 2px 5px;
}

.messages {
    padding: 0 15px;
    min-width: 70%;
}

.messages .message {
    padding: 10px;
}